> We will be taking a brief look at the ***stack*** and ***unstack*** functions.

In [1]:
# Import libraries
import pandas as pd
import sys

In [2]:
# Our small data set
d = {'one':[1,1],'two':[2,2]}
i = ['a','b']

# Create dataframe
df = pd.DataFrame(data = d, index = i)
df

   one  two
a    1    2
b    1    2

In [3]:
df.index

Index([u'a', u'b'], dtype='object')

In [4]:
# Bring the columns and place them in the index
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

In [ ]:
unstack = df.unstack()
unstack

We can also flip the column names with the index using the ***T*** (transpose) function.